{% extends 'base/base.html' %}

{% block content %}
<section id="about" class="py-12 text-center bg-gray-50">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">About JinjaBun</h1>
        <p class="text-lg md:text-xl mb-8">JinjaBun is a static site generator that leverages Jinja templating and Tailwind CSS to make building static sites fast, efficient, and enjoyable. Easily control page metadata with YAML, and enjoy features like HTML and JS minification, analytics support, a live server with automatic reload, and automatic generation of robots.txt and sitemap.</p>
    </div>
</section>
{% endblock %}
